.reviewForm {
	display: grid;
	align-items: center;

	font-size: 14px;
	line-height: 24px;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
}

.description,
.submit {
	grid-column: start / end;
}

.title {
	justify-self: left;
}

.info {
	margin-left: 15px;
}

.rating {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
}

@media screen and (max-width: 1500px) {
	.reviewForm {
		grid-template-columns: [start] auto auto auto [end];
	}
}

@media screen and (max-width: 1100px) {
	.reviewForm {
		grid-template-columns: [start] auto auto [end];
	}

	.rating {
		grid-column: start / end;
	}

	.title {
		justify-self: normal;
	}
}

@media screen and (max-width: 640px) {
	.reviewForm {
		grid-template-columns: [start] auto [end];
	}
}
